*{
    padding: 0;
    margin: 0;
}
.header{
   
    height: 3.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    background-color:rgb(245, 245, 245) ;
   
}

.logodiv{
    height: 2vw;
    
    
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo{
    height: 1.5vw;
    cursor:pointer;
}
.storediv{
    height: 38px;
    width: 80px;
    
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.store{
    font-family:'Poppins',sans-serif;
    font-size: 13px;
    color: rgb(95, 95, 95) ;
    cursor:pointer;
    font-weight: 500;
    
}
.store:hover{
    transform: scale(1.1);
}
.macdiv{
    height: 38px;
    width: 80px;
    
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mac{
    font-family:'Poppins',sans-serif;
    font-size: 13px;
    color: rgb(95, 95, 95) ;
    cursor:pointer;
    font-weight: 500;
}
.mac:hover{
    transform: scale(1.1);
}
.iphonediv{
    height: 38px;
    width: 80px;
    
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.iphone{
    font-family:'Poppins',sans-serif;
    font-size: 13px;
    color: rgb(95, 95, 95) ;
    cursor:pointer;
    font-weight: 500;
}
.iphone:hover{
    transform: scale(1.1);
}
.ipaddiv{
    height: 38px;
    width: 80px;
    
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ipad{
    font-family:'Poppins',sans-serif;
    font-size: 13px;
    color: rgb(95, 95, 95) ;
    cursor:pointer;
    font-weight: 500;
}
.ipad:hover{
    transform: scale(1.1);
}
.watchdiv{
    height: 38px;
    width: 80px;
    
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.watch{
    font-family:'Poppins',sans-serif;
    font-size: 13px;
    color: rgb(95, 95, 95) ;
    cursor:pointer;
    font-weight: 500;
}
.watch:hover{
    transform: scale(1.1);
}
.airpodsdiv{
    height: 38px;
    width: 80px;
   
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.airpods{
    font-family:'Poppins',sans-serif;
    font-size: 13px;
    color: rgb(95, 95, 95) ;
    cursor:pointer;
    font-weight: 500;
}
.airpods:hover{
    transform: scale(1.1);
}

.accessoriesdiv{
    height: 38px;
    width: 80px;
  
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.accessories{
    font-family:'Poppins',sans-serif;
    font-size: 13px;
    color: rgb(95, 95, 95) ;
    cursor:pointer;
    font-weight: 500;
}
.accessories:hover{
    transform: scale(1.1);
}

.supportdiv{
    height: 38px;
    width: 80px;
   
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.support{
    font-family:'Poppins',sans-serif;
    font-size: 13px;
    color: rgb(95, 95, 95) ; 
    cursor:pointer;
    font-weight: 500;
}
.support:hover{
    transform: scale(1.1);
}
.tvdiv{
    height: 38px;
    width: 86px;
   
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.tv{
    font-family:'Poppins',sans-serif;
    font-size: 13px;
    color: rgb(95, 95, 95) ; 
    cursor:pointer;
    font-weight: 500;
}
.tv:hover{
    transform: scale(1.1);
}
.enterdiv{
    height: 38px;
    width: 89px;
   
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    
}
.enter{
    font-family:'Poppins',sans-serif;
    font-size: 13px;
    color: rgb(95, 95, 95) ; 
    cursor:pointer;
    font-weight: 500;
}
.enter:hover{
    transform: scale(1.1);
}
.searchdiv{
    height: 38px;
    width: 80px;
 
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
   padding-right:0px;
    
}
.search{
    height: 15px;
    cursor:pointer;
}
.search:hover{
    transform: scale(1.1);
}
.cartdiv{
    height: 38px;
    width: 50px;
   
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cart{
    height: 17px;
    cursor:pointer;
}
.cart:hover{
    transform: scale(1.1);
}


